/* 
    Document   : gestordetareas
    Created on : 26-feb-2014, 10:26:25
    Author     : al037721
    Description:
        Purpose of the stylesheet follows.
*/

#cartel{
    position: relative;
}
#marco{
    position: relative;
    display: block;
    padding: 50px;
    margin: auto;
    float: left;
    top: 50%;
    left: 40%;
}

.tablaproyectos{
    
    border: 5px solid #002a80;
    float: left;
    margin-left: 5%;
    text-align: center;
}
.tablaproyectos td{
    padding: 10px;
}

.tablatareas1,.tablatareas2,.tablatareas3,.tablatareas4{
    width: 70%;
    margin-left: 5%;
    text-align: justify;
}

.tablatareas1{
    border: 5px solid #d9d9d9;
    background: #d9d9d9;
}
.tablatareas2{
    border: 5px solid #c4e3f3;
    background: #c4e3f3;
}
.tablatareas3{
    border: 5px solid khaki;
    background: khaki;
}
.tablatareas4{
    border: 5px solid #7aba7b;
    background: #7aba7b;
}

.tablatareas1,.tablatareas2,.tablatareas3,.tablatareas4 td{
    padding-left: 2%;
}

.action05{
    background: #149bdf;
    color: #FFFFFF;
}
