/* 
    Document   : gestordetareas
    Created on : 26-feb-2014, 10:26:25
    Author     : al037721
    Description:
        Purpose of the stylesheet follows.
*/

#cartel{
    position: relative;
}
#marco{
    position: relative;
    display: block;
    padding: 50px;
    margin: auto;
    float: left;
    top: 50%;
    left: 40%;
}

.tablaproyectos{
    
    border: 5px solid #3e4347;
    float: left;
    margin-left: 5%;
    margin-bottom: 5%;
    text-align: center;
}
.tablaproyectos td{
    padding: 10px;
}
.tablaproyectos tr:first-child{
    background: #3e4347;
    color: #FFFFFF;
    font-weight: bolder;
    text-transform: uppercase; 
}

.tablatareas1,.tablatareas2,.tablatareas3,.tablatareas4{
    width: 20%;
    margin-left: 4%;
    margin-bottom: 5%;
    text-align: justify;
    float: left;
}

.tablatareas1{
    border: 5px solid #d9d9d9;
    
}
.tablatareas1:after {
    background: #d9d9d9;
    color: #000000;
    content: attr(data-tablatareas1);
    display: block;
    float: right;
    font-size: 13px;
    line-height: 1;
    position: relative;
}
.tablatareas2{
    border: 5px solid #c4e3f3;
    
}

.tablatareas2:after {
    background: #c4e3f3;
    color: #000000;
    content: attr(data-tablatareas2);
    display: block;
    float: right;
    font-size: 13px;
    line-height: 1;
    position: relative;
}

.tablatareas3{
    border: 5px solid khaki;
    
}

.tablatareas3:after {
    background: khaki;
    color: #000000;
    content: attr(data-tablatareas3);
    display: block;
    float: right;
    font-size: 13px;
    line-height: 1;
    position: relative;
} *
.tablatareas4{
    border: 5px solid #7aba7b;
    
}

.tablatareas4:after {
    background: #7aba7b;
    color: #000000;
    content: attr(data-tablatareas4);
    display: block;
    float: right;
    font-size: 13px;
    line-height: 1;
    position: relative;
}

.tablatareas1 tr:first-child{
    background: #d9d9d9;
    
    font-weight: bolder;
    text-transform: uppercase; 
}
.tablatareas2 tr:first-child{
    background: #c4e3f3;
    
    font-weight: bolder;
    text-transform: uppercase; 
}
.tablatareas3 tr:first-child{
    background: khaki;
    
    font-weight: bolder;
    text-transform: uppercase; 
}
.tablatareas4 tr:first-child{
    background: #7aba7b;
    
    font-weight: bolder;
    text-transform: uppercase; 
}




/*.tablatareas1,.tablatareas2,.tablatareas3,.tablatareas4 td{
    padding-left: 2%;
}*/

.action05{
    background: #3e4347;
    color: #FFFFFF;
}

#barra{
    background: #3e4347;
}

#imglogo{
    width: 100px;
}
body * {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.navbar .nav>li>a, .pull-right, .navbar-inverse .navbar-link{
    color: #FFFFFF;
    font-weight: bolder;
    padding: 20px 10px;
}
#barra{
    height: 60px;
}
.pull-right{
    padding: 10px;
}

.navbar-inverse .nav>li>a:hover{
    color:#9a9c9e;
    background: #141618;
}
#btntarea{
    float: right;
    width: 25%;
    position: relative;
    
}
#btntarea h5{
    
    padding: 0;
}
#tablageneral{
    
    border: 1px solid #3e4347;
    width: 100%;
}
#tablageneral th{
    border: 1px solid #3e4347;
    background: #3e4347;
    color: #FFFFFF;
}
.btn{
    background: #3e4347;
    color:#FFFFFF;
}
.btn:hover{
    background: #141618;
    color:#9a9c9e;
}
.inicio1{
    position: relative;
    left: 6px;
    background: #FFFFFF;
    color: #3e4347;
    text-align: center;
    box-shadow: 10px 10px 5px #888888;
}
#tarea_list  div.span12 div.row-fluid div.span7 h2,#alumno_list div.span12 div.row-fluid div.span7 h2,#profesor_list div.span12 div.row-fluid div.span7 h2,#proyecto_list div.span12 div.row-fluid div.span7 h2{
    text-transform: capitalize;
}